<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="logo">
          <a href="/">Luxury</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main class="row center">
        <ul class="list-product row center">
          <li>
            <div class="card">
              <a href="product.html">
                <img src="./images/s1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2 class="product-name">HENDERSON</h2>
                </a>
                <div class="price">120$</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="product.html">
                <img src="./images/s1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2 class="product-name">HENDERSON</h2>
                </a>
                <div class="price">120$</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="product.html">
                <img src="./images/s1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2 class="product-name">HENDERSON</h2>
                </a>
                <div class="price">120$</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="product.html">
                <img src="./images/s1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2 class="product-name">HENDERSON</h2>
                </a>
                <div class="price">120$</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="product.html">
                <img src="./images/s1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2 class="product-name">HENDERSON</h2>
                </a>
                <div class="price">120$</div>
              </div>
            </div>
          </li>
        </ul>
      </main>
      <footer class="row center">Made by kayfaRik</footer>
    </div>
  </body>
</html>
