/** main style*/

/** Layout*/

.grid-container {
  display: grid;
  grid-template-areas: 'header', 'main', 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: 'header';
}
main {
  grid-area: 'main';
  padding: 1rem;
}
footer {
  grid-area: 'footer';
  background-color: #525252;
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.center {
    justify-content: center;
  }
  &.top {
    align-items: flex-start;
  }
}

.container {
  max-width: 113rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  width: 100%;
}
input,
textarea,
select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  background: #f8f8f8;
  cursor: pointer;
}
input:hover,
textarea:hover,
select:hover {
  border: 0.1rem solid #404040;
}
//* ======================================= APP ======================================================*/
//* ======================================= HEADER ======================================================*/
.header {
  &__link {
    div {
      margin-right: 2rem;
      text-transform: capitalize;
    }
  }
  &__cart {
    margin-right: 2rem;
  }
}
.logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.4rem;
  font-weight: 400;
}
.badge {
  background-color: #0007;
  color: #fff;
  border-radius: 50%;
  border: 0.1rem solid #acacac;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  margin-left: 0.2rem;
}
.dropdown {
  display: inline-block;
  position: relative;
  &__content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background: #203040;
    margin: 0;
    // padding-top: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
  }
  &:hover &__content {
    display: block;
  }
  &__item {
    color: #fff;
  }
}
//* ===================================== HOME SCREEN  ===========================================**/
/** ========== CARD ==============**/
.list-product {
  width: 100%;
  flex-wrap: wrap;
}

//*=================================== PRODUCT DETAILS SCREEN ====================================*/
.back-to {
  width: 20rem;
  padding: 0 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  transition: 0.5s;
}
.back-to:hover {
  margin-left: -1rem;
}
.cart-product {
  align-items: flex-start;
  justify-content: start;
  &__img {
    max-width: 100rem;
    margin-right: 5rem;
  }
  &__text {
    margin-top: 3rem;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 400;
  }
  &__price {
    line-height: 3;
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__stars {
    margin-bottom: 5rem;
    line-height: 1;
  }
  &__description {
    line-height: 2;
    margin-bottom: 2rem;
    div {
      margin-left: 3rem;
      text-indent: 3rem;
      line-height: 1.5;
    }
  }
  &__list {
    width: 30rem;

    li {
      font-weight: 400;
      line-height: 1.5;
      span {
        margin-right: 1rem;
        font-weight: 500;
      }
      .stoke {
        font-weight: 400;
      }
    }
  }
  &__add-to-cart {
    margin-top: 2rem;
  }
}
.add-to-card {
  cursor: pointer;
  position: relative;
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.6rem;
  overflow: hidden;
  border: 0;
  background: #333;
  color: #fff;
  box-shadow: inset 1px 1px 10px #0007;
  font-weight: 500;
  border-radius: 1rem;

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: attr(data-title);
    transition-delay: 0.2s;
    transition: 0.5s ease-in-out;
  }
  &::before {
    top: -30%;
  }
  &::after {
    top: 50%;
  }
  &:hover::before {
    top: 50%;
  }
  &:hover::after {
    top: 120%;
  }
}
.in-stoke {
  color: rgb(13, 202, 3);
}
.out-of-stoke {
  color: rgb(202, 3, 3);
}

//* CartScreen*/
img.small {
  max-width: 10rem;
  width: 100%;
  object-fit: cover;
}
.min-30 {
  min-width: 30rem;
}
.shopping-cart {
  &__title {
    margin-bottom: 3rem;
  }
  &__list {
    li {
      margin-bottom: 2rem;
    }
  }
  &__image {
    border-radius: 0.5rem;
    margin-right: 2rem;
  }
  &__select {
    margin-right: 2rem;
  }
  &__price {
    margin-right: 6rem;
    font-size: 2rem;
    font-weight: bold;
  }
  &__del {
    button {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 0;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background: rgb(240, 90, 90);
      }

      i {
        color: rgb(240, 90, 90);
        transition: 0.5s;
      }
      &:hover i {
        color: #fff;
      }
    }
  }
}
.cart-calculate {
  min-width: 30rem;
  border: 0.1rem solid #acacac;
  padding: 3rem;
  margin-left: 3rem;
  background: #f8f8f8;
  border-radius: 1rem;
  margin-top: 10rem;
  &__check {
    margin-top: 4rem;
  }
}
.go-shopping {
  margin-top: 3rem;
}

//*============================== SIGNIN SCREEN========================*/
.form {
  max-width: 60rem;
  width: 100%;
  margin: 1rem auto 0;
  h1 {
    font-size: 2.4rem;
  }
  .add-to-cart {
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
  }
  .create-acc {
    display: flex;
    font-size: 1.8rem;

    &__link {
      font-size: 1.8rem;
      color: rgb(7, 116, 199);
      margin-left: 1rem;
      &:hover {
        color: rgb(0, 150, 204);
      }
    }
  }
}
.form > div {
  margin: 2rem 0;
  display: block;
  width: 100%;
}

//**=================================== PAYMENT METHOD SCREEN ==================================================**/

.payment {
  label{
    display: inline-block;
    margin: 0;
    cursor: pointer;
  }
  input{
    width: 4rem;
  }
  input[type="radio"]{
    background: #000;
  }
  &__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
 
}

//** ============================== PLACE ORDER SCREEN ==============================**//@at-root
.place-order{
  margin-top: 4rem;
  h2{
    margin-bottom: 1rem;
  }
  &__list{
    max-width: 60rem;
  }
  &__item{
    margin-bottom: 2rem;
    padding: 3rem;
    border: .2rem solid #0002;
    border-radius: 1rem;
  }
  &__calc{
    margin-bottom: 2rem;
    padding: 3rem;
    border: .2rem solid #0002;
    border-radius: 1rem;
    max-width: 40rem;
    width: 100%;
    *{
    font-size: 2rem;

    }
    .row{
      margin-bottom: 1rem;
    }
  }
}