html {
  font-size: 62.5%; /** 16px * 62.5 = 10px = 1rem*/
}
* {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
}
body {
  margin: 0;
  height: 100vh;
  background: rgb(211, 209, 209);
}
#root {
  height: 100%;
}
:root {
  --color-dark: #333333;
  --color-accent: #828282;
}
a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
